Package: ch.sukha.testmachine
Name: TestMachine iPhone driver
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: A tweak for driving the iPhone through XML-RPC.
Homepage: https://github.com/sukhach/testmachine
Maintainer: Peter Farkas <peter.farkas@testmachine.ch>
Author: Peter Farkas <peter.farkas@testmachine.ch>
Section: Tweaks
